

.bannerwrapper {
    margin-top: 150px;
    position: relative;
    height: 40vh;
    max-width: 1400px;
   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.headingwrapper {
  
    width: 700px;
    height: fit-content;
    text-align: center;
}

.headingwrapper h1 {

    font-family: "Neue Montreal Medium", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-wrap: wrap;
    
}

.bannerlist {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 10px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
       

        li {
            float: left;
            margin: 10px;
            background-color: rgba(232, 229, 228, 0.5);
            padding: 10px;
            border-radius: 100px;
        }
    }
    
}

