body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;

}
html {
    padding: 0px;
    margin: 0px
}

.contentwrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}


.navbar {
    position: fixed;
    z-index: 10;
    top: 0px;
    display: flex;
    max-width: 1400px;
    margin: auto;
    height: 108px;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.navborder {
    background-color: rgba(232, 229, 228, 0.5);
    height: fit-content;
    width: 292px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 100px;
    align-items: center;
    overflow: hidden;
    padding: 4px;
    gap: 4px;
    position: relative;
    backdrop-filter: blur(16px);

}

.button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 100%;
    border-radius: 100px;
    
}

.white {
    background-color: white;

}

.headerlinks {
    font-size: 20px;
    font-family: "Neue Montreal Regular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: black;


}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    margin-bottom: 25px;
    font-family: "Neue Montreal Regular", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    letter-spacing: 0px;
    line-height: 1.2em;;
    
}


.links {
    float: left;;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    
}

.animate {
    animation:  slide-in-blurred-bottom 1s forwards ;
   
    will-change: transform, opacity;
}


  @keyframes slide-in-blurred-bottom {
    0% {
        transform: translateY(1000px);
        filter: blur(5px); /* Reduced blur for performance */
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
      }
    
  }
  
  
  .shopbutton {
    
        position: fixed;
        bottom: 30px; 
        
        background-color: black;
        opacity: 0.9;
        width: min-content;
        height: min-content;
        color: white;
        
        z-index: 10;
        text-wrap: nowrap;
        padding: 10px;
        border-radius: 100px ;
        
        

}